.box {
    margin: 5px 0 50px 0;
}

.form-box {
    /*margin: 5px 0 5px 0;*/
    /*border: 1px solid #337ab7;*/
    /*padding: 30px;*/
    /*border-radius: 8px;*/
}

.title {
    color: #2e6da4;
}

.tree_value {
    margin: auto auto auto 30px;
}

.form_change {

}